@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fef7e5;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 10px;
}

.nav-bar {
  height: 60px;
  background-color: #E6E6FA;
  position: sticky;
  top: 0;
  z-index: 1000; // Ensure the navbar stays on top of other elements
  transition: transform 0.3s ease-out;
}

.nav-bar.hide {
  transform: translateY(-100%);
  transition: transform 0.3s ease-out;
}


.logo {
  height: 10%;
}

.menu-icon {
  display: none;
}

.nav-elements {
  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    li {
      position: relative;

      &:not(:last-child) {
        margin-right: 80px;
      }

      a {
        font-size: 16px;
        font-weight: 400;
        color: #2f234f;
        text-decoration: none;
        transition: color 1s ease-in-out; // Transition for color

        &.active {
          color: #574c4c;
          font-weight: 500;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            bottom: -4px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #574c4c;
          }
        }

        &::before {
          content: "";
          position: absolute;
          top: -5px;  // Increase the size
          bottom: -5px; // Increase the size
          left: -5px;  // Increase the size
          right: -5px; // Increase the size
          background: #574c4c;
          z-index: -1;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0s;
          border-radius: 10px;
        }

        &:hover {
          color: beige; // Changes text color to white on hover

          &::before {
            transform: scaleX(1);
            transition: transform 0.5s ease-in-out;
            border-radius: 10px;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    ul li:not(:last-child) {
      margin-right: 30px;
    }
  }

  @media (max-width: 600px) {
    .menu-icon {
      display: block;
      cursor: pointer;
    }

    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fef7e5;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;

    &.active {
      width: 270px;
    }

    ul {
      display: flex;
      flex-direction: column;
      li {
        margin-right: unset;
        margin-top: 22px;
      }
    }
  }
}
