html {
  height: fill-available;
  height: -webkit-fill-available;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  min-height: fill-available;
  min-height: -webkit-fill-available;
  width: 100%;
  margin: 0 !important;
}
